@import './variables';

// TYPOGRAPHY SETTINGS
// ===========================


body, html  {
  font-family: $app-font-family;
}

h1, h2, h3, h4, h5, h6 {
  color: $app-dark-grey;
  font-family: $app-font-family;
  font-weight: $app-bold-weight;
}

p, li, a, input, span {
  font-family: $app-font-family;
  font-weight: $app-normal-weight;
}

.mc-text-thin {
  font-weight: $app-thin-weight !important;
}

.mc-text-normal {
  font-weight: $app-normal-weight !important;
}

.mc-text-bold {
  font-weight: $app-bold-weight !important;
}

.mc-text-center {
  text-align: center !important;
}

.mc-text-sm {
  font-size: 12px !important;
}

.mc-text-md {
  font-size: 16px !important;
}

.mc-text-lg {
  font-size: 18px !important;
}

.mc-text-xlg {
  font-size: 22px !important;
}


// LAYOUT SETTINGS
// ===========================

.mc-width-100 {
  width: 100% !important;
}

.mc-margin-top-1 {
  margin-top: 1rem !important;
}

.mc-margin-top-2 {
  margin-top: 2rem !important;
}

.mc-margin-top-3 {
  margin-top: 3rem !important;
}

.mc-margin-top-4 {
  margin-top: 4rem !important;
}

.mc-margin-left-1 {
  margin-left: 1rem !important;
}

.mc-margin-right-1 {
  margin-right: 1rem !important;
}

.mc-padding-1 {
  padding: 1rem !important;
}

.mc-padding-x-1 {
  padding: 0 1rem !important;
}

.mc-padding-y-1 {
  padding: 1rem 0 !important;
}

.mc-padding-2 {
  padding: 2rem !important;
}

.mc-padding-x-2 {
  padding: 0 2rem !important;
}

.mc-padding-y-2 {
  padding: 2rem 0 !important;
}



// COLOR SETTINGS
// ===========================

.mc-text-light-grey {
  color: $app-light-grey !important;
}

.mc-text-dark-grey {
  color: $app-dark-grey !important;
}

.mc-text-danger {
  color: $app-alert-red !important;
}
