// COLOR VARIABLES
// ===========================

$app-light-grey: #b5b5b5 !default;
$app-dark-grey: #454545 !default;
$app-border-grey: #E2E2E2 !default;
$app-alert-red: #E06666 !default;

// TYPOGRAPHY VARIABLES
// ===========================

$app-font-family: 'Muli', sans-serif !default;
$app-thin-weight: 200 !default;
$app-normal-weight: 400 !default;
$app-bold-weight: 700 !default;
