.grid-wrapper {
  display: grid;
  &.2-col-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  &.ttt-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

.column-1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.column-2 {
  grid-column: 2 / 2;
  grid-row: 1;
}

.grid-width-75 {
  max-width: 75%;
  margin: 0 auto;
}

.mc-cell {
  width: 124px;
  height: 124px;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  border: 1px solid $app-border-grey;
  @media #{$mc-media-query-small-screen-only} {
    width: 112px;
    height: 112px;
    .mark-icon-large > svg {
      width: 75px;
      height: 75px;
    }
  }
}
